.Politicas {
  min-height: 100vh;
  width: 900px;
  padding: 10px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}
.Politicas__Titulo {
  color: var(--ColorPrincipal);
  font-size: clamp(24px, 4vw, 28px);
  font-weight: bold;
  text-align: center;
}
.Politicas__Card {
  width: 100%;
  background-color: var(--ColorBlanco);
  padding: 10px;
  border-radius: var(--RadiusInputs);
  font-size: clamp(12px, 2vw, 14px);

  display: flex;
  flex-direction: column;
  gap: 10px;
}
.Politicas__Card--Titulo {
  color: var(--ColorPrincipal);
  font-size: clamp(14px, 2vw, 16px);
  font-weight: bold;
  text-align: start;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}
@media (width <= 950px) {
  .Politicas {
    width: 100%;
  }
}
