.ListaPorFechaLlamadas {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 10px;
}
.ListaPorFechaLlamadas__Botones {
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.ListaPorFechaLlamadas__Botones--Boton {
  padding: 10px 20px;
  border-radius: var(--RadiusInputs);
  transition: 0.3s ease all;
  cursor: pointer;
  background-color: var(--ColorBlanco);
  color: var(--ColorNegro);
  font-weight: bold;
  border: none;
  outline: none;
}
@media (max-width: 900px) {
  .ListaPorFechaLlamadas {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
@media (max-width: 550px) {
  .ListaPorFechaLlamadas {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 400px) {
  .ListaPorFechaLlamadas__Botones {
    flex-direction: column;
  }
  .ListaPorFechaLlamadas__Botones--Boton {
    width: 100%;
  }
}
