.ActualizarMiInformacion {
  width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* grid-template-columns: repeat(auto-fit, minmax(500px, 1fr)); */
  gap: 20px;
}
.ContenedorInput.Correo {
  grid-column: span 2;
}
@media (width <= 1150px) {
  .ActualizarMiInformacion {
    width: 100%;
  }
}
@media (width <= 600px) {
  .ActualizarMiInformacion {
    grid-template-columns: 1fr;
  }
  .ContenedorInput.Correo {
    grid-column: 1 / -1 !important;
  }
}
